*{
    margin: 0;
}
header{
    
    /* background-color: aquamarine; */
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/2025-bmw-m3-110-66562ddceaf59.jpg?crop=0.824xw:0.618xh;0.0737xw,0.274xh&resize=2048:*');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}
.heading{
    /* margin: 20px auto; */
    /* display: block; */
    /* text-align: center; */
    /* display: grid;
    place-items: center;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;
    color: rgba(254, 244, 244, 0.6)
}